@import "_reset";
@import "_variables";

html, body {height: 100%;}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.3;
	@media (min-width: 768px) {
		font-size: 16px;
	}
}

::selection {
	background: $c1; color: #fff;
}

.btn {background: #000; color: #fff; white-space: nowrap; font-size: 16px;
	text-decoration: none; display: inline-block; padding: 0 15px; border-radius: 4px;
	line-height: 45px; height: 45px;

	&.btn-as {width: 130px; background: #000 url(../../img/btn-appstore.png);
		padding: 0;
		span {display: none;}
	}

}

.header {box-shadow: 0 1px 0 rgba(0,0,0,1/8); position: fixed; width: 100%;
	background: #fff;
	h1 {line-height: 50px; margin: 0 5px;
		&:before {content: " "; display: block; width: 40px; height: 40px;
			background:url(../../icons/apple-icon-180x180.png); float: left;
			background-size: cover; margin: 5px;}
	}
	.fb-like {float: right; margin: 15px 15px 0 0;}
	.twitter-share-button {float: right; margin: 15px 8px 0 0;}
	.shares {width: 200px; overflow: visible; white-space: nowrap; margin: 0 auto;}
}

.separator {border: 1px solid rgba(0,0,0,1/8); height: 0; display: block;
	margin: 0; background: none; border-width: 0 0 1px;}

.top {display: flex; flex-flow: column nowrap;
	text-align: center; padding-top: 80px;

	.text {padding: 30px;
		h1 {font-size: 30px; font-weight: 300; margin: .5em 0;
			small {display: none;}
		}
		p {margin: 1em 0;}
	}

	.gr {max-width: 90%; margin: 0 auto;
		img {display: block; max-width: 100%;}
	}

	@media (min-width: 768px) {
		flex-flow: row nowrap; align-items: center; justify-content: flex-end;
		.text {max-width: 17em; text-align: left; padding: 0 0 30px 20px;}
		.gr {flex-basis: 55%; margin: 0 5% 0 0;}
	}

}

.films {margin: 0 auto; padding: 50px 20px; text-align: center; max-width: 1200px;
	@media (min-width: 768px) {
		max-width: 90%;
	}
	h2 {font-size: 30px; margin: .5em 0; font-weight: 300;}
	p {margin: 1em 0; max-width: 330px; margin: 0 auto; line-height: 1.5;}

	.preview {padding: 20px 0; margin: 10px auto 0; max-width: 1200px;
		ul {display: flex; flex-flow: row wrap; justify-content: space-between;
			li {width: 19%;
				img {width: 100%;}
			}
		}
	}
}


.shows {margin: 0 auto; padding: 50px 20px; text-align: center; max-width: 1200px;
	@media (min-width: 768px) {
		max-width: 90%;
	}

	h2 {font-size: 30px; margin: .5em 0; font-weight: 300;}
	p {margin: 1em 0; max-width: 90%; margin: 0 auto; line-height: 1.5;}

	.preview {padding: 20px 0; margin: 10px auto 0; max-width: 1200px;
		ul {display: flex; flex-flow: row wrap; justify-content: space-between;
			li {width: 19%;
				img {width: 100%;}
			}
		}
	}
}
